<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.open.source.site.repository.CopyWritingDao">

    <select id="selectCopyWritingTextByArea" parameterType="string" resultType="string">
        select copy_writing_text
        from copy_writing
        where area = #{area}
    </select>

    <select id="selectByArea" parameterType="string" resultType="com.sdu.open.source.site.entity.CopyWriting">
        select *
        from copy_writing
        where area = #{area}
    </select>

    <select id="selectListByArea" parameterType="java.lang.String"
            resultType="com.sdu.open.source.site.entity.CopyWriting">
        select id,
               area,
               title,
               copy_writing_text as copyWritingText,
               link,
               note
        from copy_writing
        where area = #{area}
        order by id asc
    </select>

    <insert id="insert" parameterType="com.sdu.open.source.site.entity.CopyWriting">
        INSERT INTO copy_writing (area,
                                  title,
                                  copy_writing_text,
                                  link,
                                  note)
        VALUES (#{area},
                #{title},
                #{copyWritingText},
                #{link},
                #{note})
    </insert>

    <delete id="deleteByArea" parameterType="java.lang.String">
        delete from copy_writing
        where area = #{area}
    </delete>
</mapper>
