<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.open.source.site.repository.ProjectDao">

    <select id="selectAll" resultType="com.sdu.open.source.site.entity.Project">
        select id, name, description, create_time as createTime
        from projects
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.sdu.open.source.site.entity.Project">
        select id,
               name,
               description,
               create_time,
               git_repo,
               project_intro,
               module_display
        from projects
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.sdu.open.source.site.entity.Project"
            useGeneratedKeys="true" keyProperty="id">
        insert into projects (name, description, create_time, git_repo, project_intro, module_display)
        values (#{name}, #{description}, #{createTime}, #{gitRepo}, #{projectIntro}, #{moduleDisplay})
    </insert>

    <update id="update" parameterType="com.sdu.open.source.site.entity.Project">
        update projects
        <set>
            <if test="name != null and name.trim() != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="gitRepo != null">git_repo = #{gitRepo},</if>
            <if test="projectIntro != null">project_intro = #{projectIntro},</if>
            <if test="moduleDisplay != null">module_display = #{moduleDisplay},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from projects
        where id = #{id}
    </delete>
    <select id="selectByPage" resultType="com.sdu.open.source.site.entity.Project">
        select id, name, description, create_time as createTime,
               git_repo as gitRepo, project_intro as projectIntro, module_display as moduleDisplay
        from projects
                 limit #{offset}, #{pageSize}
    </select>

    <select id="selectTotalCount" resultType="java.lang.Long">
        select count(*) from projects
    </select>

</mapper>
