<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.open.source.site.repository.TaskClassDao">
    <update id="update">
        update task_class
        set taskCount=#{taskCount}
        where id=#{id}
    </update>

    <select id="selectAll" resultType="TaskClass">
        select *
        from task_class
    </select>

    <select id="findById" resultType="TaskClass">
        select *
        from task_class
        where id=#{id}
    </select>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.sdu.open.source.site.entity.TaskClass">
        SELECT * FROM task_class
        WHERE id IN
        <foreach collection="list" item="classId" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.sdu.open.source.site.entity.TaskClass" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_class (name, description, taskCount)
        VALUES (#{name}, #{description}, #{taskCount})
    </insert>
</mapper>
