<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.open.source.site.repository.UserDao">

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.sdu.open.source.site.entity.User">
        select *
        from user
        where username = #{username}
    </select>

    <insert id="insert" parameterType="com.sdu.open.source.site.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password, email, role, enabled, fullname, company, address, create_time, update_time, has_signed_pdf)
        values (#{username}, #{password}, #{email}, #{role}, #{enabled},#{fullname}, #{company}, #{address}, #{createTime}, #{updateTime}, #{hasSignedPdf})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultType="com.sdu.open.source.site.entity.User">
        select *
        from user
        where id = #{id}
    </select>


    <sql id="sqlFragment">
        <if test="email2 != null">email2 = #{email2},</if>
        <if test="role != null">role = #{role},</if>
        <if test="phone != null">phone = #{phone},</if>
        <if test="company != null">company = #{company},</if>
        <if test="address != null">address = #{address},</if>
        <if test="bankCardNumber != null">bank_card_number = #{bankCardNumber},</if>
        <if test="giteeName != null">gitee_name = #{giteeName},</if>
        <if test="hasSignedPdf != null">has_signed_pdf = #{hasSignedPdf},</if>
        <if test="fullname != null">fullname = #{fullname},</if>
        <if test="updateTime != null">update_time = #{updateTime}</if>
</sql>

    <update id="update" parameterType="com.sdu.open.source.site.entity.User">
        update user
        <set>
            <include refid="sqlFragment"/>
        </set>
        where username = #{username}
    </update>

    <select id="selectByUsernameOrFullname" resultType="com.sdu.open.source.site.entity.User">
        SELECT *
        FROM user
        <where>
            <if test="user.username != null and user.username.trim() != ''">
                AND username LIKE CONCAT('%', TRIM(#{user.username}), '%')
            </if>
            <if test="user.fullname != null and user.fullname.trim() != ''">
                AND fullname LIKE CONCAT('%', TRIM(#{user.fullname}), '%')
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="selectCountByUsernameOrFullname" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM user
        <where>
            <!-- 关键修改：通过user对象访问属性 -->
            <if test="user.username != null and user.username.trim() != ''">
                AND username LIKE CONCAT('%', TRIM(#{user.username}), '%')
            </if>
            <if test="user.fullname != null and user.fullname.trim() != ''">
                AND fullname LIKE CONCAT('%', TRIM(#{user.fullname}), '%')
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.sdu.open.source.site.entity.User">
        SELECT * FROM user WHERE id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
</mapper>